<div class="jumbotron text-center">
    <button type="button" class="btn-danger pull-right"  ng-click="edit.deleteBug(edit.bug)" title="Delete this card">&times;</button>
   <h1>{{ edit.title }}</h1>
    <p>{{ edit.bug.name }}</p>
</div>

<div class="col-md-6">

    <div class="form-group">
        <label for="inputSummary" class="control-label">Issue title</label>
        <input type="text" ng-model="edit.bug.name" class="form-control">
    </div>

    <div class="form-group">
        <label for="project">Project</label>
        <select class="form-control" id="project" ng-model="edit.bug.project">
            <option value="project1">Project A</option>
            <option value="project2">Project B</option>
            <option value="project3">Project C</option>
            <option value="project4">Project D</option>
        </select>
    </div>

    <div class="form-group">
        <input type="radio" value="1" ng-model="edit.bug.type" id="type1"><label for="type1">Task</label>
        <input type="radio" value="2" ng-model="edit.bug.type" id="type2"><label for="type2">Bug</label>
        <input type="radio" value="3" ng-model="edit.bug.type" id="type3"><label for="type3">Improvement</label>
        <input type="radio" value="4" ng-model="edit.bug.type" id="type4"><label for="type4">Question</label>
    </div>

    <div class="form-group">
        <label for="inputSummary" class="control-label">Summary</label>
        <input type="text"  ng-model="edit.bug.summary" class="form-control" id="inputSummary">
    </div>

    <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" id="priority" ng-model="edit.bug.priority">
            <option value="p1">Blocker</option>
            <option value="p2">Critical</option>
            <option value="p3" >Major</option>
            <option value="p4">Minor</option>
        </select>
    </div>

    <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" ng-model="edit.bug.descr" rows="5" id="description"></textarea>
    </div>
    <!--<div class="form-group">-->
    <!--<label for="exampleInputFile">File input</label>-->
    <!--<input type="file" id="exampleInputFile">-->
    <!--<p class="help-block">Example block-level help text here.</p>-->
    <!--</div>-->

    <button type="submit" ng-click="edit.editBug(edit.bug)" class="btn btn-default btn-lg btn-success">Update</button>
    <span>{{ edit.message }}</span>
</div>