<!-- Log in template -->
<form class="noMargin">
    <div class="modal-header">
        <button type="button" class="close" ng-click="login.dismiss()">&times;</button>
        <h4 class="modal-title">Please log in to start work:</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" ng-model="login.email" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" ng-model="login.password" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="login.dismiss()">Close</button>
        <button ng-click="login.login(login.email, login.password)" class="btn btn-primary">Log in</button>
        <button ng-click="login.signup(login.email, login.password)" class="btn btn-primary">Sign up</button>
    </div>
</form>